{% extends "base.html" %}

{% block title %}Add Expense{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-12 col-lg-6">
      <h3 class="h3">Add expense</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-5">
            <div class="mb-2">
              {% with amount=form.amount %}
                <label for="{{ amount.auto_id }}" class="form-label fw-bold">
                  {{ amount.label }}&nbsp;&ast;
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fas fa-rupee-sign"></i>
                  </div>
                  <input
                      type="number"
                      min="0"
                      step=".01"
                      class="form-control form-control-sm"
                      id="{{ amount.auto_id }}"
                      name="{{ amount.html_name }}"
                      value="{{ amount.value }}"
                      required
                      placeholder="Enter your amount"
                  >
                </div>
              {% endwith %}
            </div>
          </div>

          <div class="col-7">
            <div class="mb-2">
              {% with date=form.date %}
                <label for="{{ date.auto_id }}" class="form-label fw-bold">
                  {{ date.label }}&nbsp;&ast;
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fas fa-clock"></i>
                  </div>
                  <input
                      type="date"
                      class="form-control form-control-sm"
                      id="{{ date.auto_id }}"
                      name="{{ date.html_name }}"
                      value="{{ date.initial | date:"Y-m-d" }}"
                      max="{{ date.initial | date:"Y-m-d" }}"
                      required
                      placeholder="Select date"
                  >
                </div>
              {% endwith %}
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              {% with description=form.description %}
                <label for="{{ description.auto_id }}"
                       class="form-label fw-bold">
                  {{ description.label }}&nbsp;&ast;
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="far fa-comment"></i>
                  </div>
                  <textarea
                      class="form-control form-control-sm"
                      id="{{ description.auto_id }}"
                      name="{{ description.html_name }}"
                      rows="2"
                      maxlength="128"
                      required
                      placeholder="Enter your description"
                  >{{ description.value | default_if_none:"" }}</textarea>
                </div>
              {% endwith %}
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              <label class="form-label fw-bold">
                {{ form.category.label }}&nbsp;&ast;
              </label>
              <span class="mt-1 me-1 float-end">
                <i id="category_edit" class="fas fa-edit text-danger me-2"
                   data-bs-toggle="modal" data-bs-target="#modifyCategoryModal"
                   style="cursor: pointer"></i>
              </span><br>
              {% include 'snippets/radio_as_buttons.html' with options=form.category btn_color="btn-outline-primary" id_label="id_category" %}
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              <label class="form-label fw-bold">
                {{ form.method.label }}&nbsp;&ast;
              </label><br>
              {% include 'snippets/radio_as_buttons.html' with options=form.method btn_color="btn-outline-success" id_label="id_method" %}
            </div>
          </div>
          <div class="col-12">
            <div class="mb-2">
              <label class="form-label fw-bold">
                {{ form.app.label }}
              </label><br>
              {% include 'snippets/radio_as_buttons.html' with options=form.app btn_color="btn-outline-secondary" id_label="id_app" %}
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              {% with attachment=form.attachment %}
                <label for="{{ attachment.auto_id }}" class="form-label fw-bold">
                  {{ attachment.label }}
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fas fa-paperclip"></i>
                  </div>
                  <input
                      type="file"
                      class="form-control form-control-sm"
                      id="{{ attachment.auto_id }}"
                      name="{{ attachment.html_name }}"
                      value="{{ attachment.value }}"
                      placeholder="Attachment"
                      accept="text/csv,image/jpeg,application/pdf,image/png,.xls,.xlsx"
                  >
                </div>
              {% endwith %}
            </div>
          </div>
        </div>
        {% for field in form %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
          <div style="color: red">
            <p>{{ form.non_field_errors }}</p>
          </div>
        {% endif %}
        <button class="btn btn-success fw-bold w-100" type="submit">Submit
        </button>
      </form>
    </div>

    <!-- Modify Category Modal -->
    <div class="modal fade" id="modifyCategoryModal" tabindex="-1"
         aria-labelledby="modifyCategoryModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modify categories</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="card">
              <ul id="userCategoryList" class="list-group list-group-flush">
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="w-25 btn btn-secondary"
                    data-bs-dismiss="modal">Close
            </button>
            <button type="button" class="w-25 btn btn-primary" data-bs-dismiss="modal" disabled>Save</button>
          </div>
        </div>
      </div>
    </div>

    <hr class="d-lg-none my-3"/>

    <div class="col-12 col-lg-4">
      <h3 class="h3">Latest 10 expenses</h3>
      <div class="table-responsive">
        <table
            class="table table-bordered table-hover table-borderless table-responsive table-light">
          <thead class="table-light">
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for exp in latest_10 %}
              <tr>
                <td style="font-size: 14px">{{ exp.date }}</td>
                <td style="font-size: 14px"
                    class="text-break">{{ exp.description|slice:30 }}</td>
                <td style="font-size: 14px">{{ exp.amount }}</td>
              </tr>
            {% empty %}
              <tr>
                <td class="text-center" colspan="3">Nothing to show here</td>
              </tr>
            {% endfor %}
            {% if latest_10 %}
              <tr>
                <td colspan="2" class="fw-bolder">Total</td>
                <td class="fw-bolder">{{ latest_10_sum }}</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

    <hr class="d-lg-none my-3"/>

    <div class="col-12 col-lg-2">
      <h3 class="h3">Overview</h3>
      <div class="row">
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="This Month" amount=this_month bg_color="bg-primary bg-gradient" %}
        </div>
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="Last Month" amount=last_month bg_color="bg-success bg-gradient" %}
        </div>
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="Last 3 Months" amount=3_months bg_color="bg-light bg-gradient" %}
        </div>
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="This Year" amount=this_year bg_color="bg-info bg-gradient" %}
        </div>
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="Last Year" amount=last_year bg_color="bg-warning bg-gradient" %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    window.onload = () => {
      const originURL = window.location.origin;
      const MAX_ATTACHMENT_SIZE = 5242880 // 5 * 1024 * 1024
      const MAX_ATTACHMENT_VERBOSE = "5 MB"

      const createSpinner = size => {
        // <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        const span = document.createElement("span");
        span.classList.add("spinner-border", `spinner-border-${size}`);
        span.setAttribute("role", "status");
        span.setAttribute("aria-hidden", "true")
        return span;
      }

      const createFontAwesomeIcon = iconClass => {
        const icon = document.createElement("i");
        icon.className = iconClass;
        return icon;
      }

      const createFontAwesomeButton = (btnClass, iconClass) => {
        const btn = document.createElement("button");
        btn.className = btnClass;
        btn.appendChild(createFontAwesomeIcon(iconClass));
        return btn;
      }

      (() => {
        const userCategoryList = document.getElementById("userCategoryList");
        let altered = false;
        const baseCategoryAPI = `${originURL}/expense/api/category`;
        const maxUserCategories = 5;
        let addButtonDisplayed = false;
        fetch(baseCategoryAPI + "/")
          .then(res => res.json())
          .then(json => {
            /*
            <li class="list-group-item">
              <span class="float-start">Category 2asdasdasd 1 </span>
              <span class="float-end">
                <button class="btn btn-sm btn-primary">
                  <i class="far fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-success">
                  <i class="far fa-check-circle"></i>
                </button>
                <button class="btn btn-sm btn-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </span>
            </li>
           */

            /*
            [
              {
                  "id": 7,
                  "name": "Party",
                  "user": "mikasa"
              },
            ]
           */

            const refreshPageOnHide = () => {
              if (!altered) {
                const myModalEl = document.getElementById('modifyCategoryModal')
                altered = true;
                myModalEl.addEventListener('hide.bs.modal', function (event) {
                  window.location.reload();
                });
                const buttons = myModalEl.querySelectorAll(".modal-footer button");
                buttons[0].remove();
                buttons[1].removeAttribute("disabled");
              }
            }

            const createAddButton = () => {
              if (userCategoryList.getElementsByTagName("li").length < maxUserCategories && !addButtonDisplayed) {
                const addButton = createFontAwesomeButton("btn btn-primary btn-sm mt-2", "fas fa-2x fa-plus-square");
                addButton.addEventListener("click", () => {

                  // Remove the add button and set addButtonDisaplayed to false
                  addButton.remove();
                  addButtonDisplayed = false;

                  const li = document.createElement("li");
                  li.className = "list-group-item";
                  const newCategoryInput = createCategoryInput();
                  const div = document.createElement("div");
                  div.className = "float-start"
                  const buttonDiv = document.createElement("div");
                  buttonDiv.className = "float-end";
                  const tickButton = createFontAwesomeButton("btn btn-success btn-sm me-2", "fas fa-check");
                  tickButton.setAttribute("disabled", "");
                  const crossButton = createFontAwesomeButton("btn btn-dark btn-sm", "fas fa-window-close");
                  buttonDiv.appendChild(tickButton);
                  buttonDiv.appendChild(crossButton);
                  div.appendChild(newCategoryInput);
                  li.appendChild(div);
                  li.appendChild(buttonDiv);
                  userCategoryList.appendChild(li);

                  crossButton.addEventListener("click", () => {
                    li.remove();
                    createAddButton();
                  })

                  newCategoryInput.addEventListener("keyup", () => {
                    if (newCategoryInput.value !== "") {
                      if (tickButton.hasAttribute("disabled")) {
                        tickButton.removeAttribute("disabled");
                      }
                    } else {
                      if (!tickButton.hasAttribute("disabled")) {
                        tickButton.setAttribute("disabled", "");
                      }
                    }
                  })

                  tickButton.addEventListener("click", () => {
                    tickButton.setAttribute("disabled", "");
                    fetch(baseCategoryAPI + "/", {
                      method: "POST",
                      credentials: "same-origin",
                      headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": getCookie("csrftoken"),
                      },
                      body: JSON.stringify({"name": newCategoryInput.value})
                    })
                      .then(res => res.json())
                      .then(json => {
                        refreshPageOnHide();
                        crossButton.setAttribute("disabled", "");
                        tickButton.firstChild.replaceWith(createFontAwesomeIcon("fas fa-check-double"));
                        setTimeout(() => {
                          li.replaceWith(createCategoryElement(json));
                        }, 400)
                      })
                  })

                  // Calling createAddButton again to check if it is required again.
                  createAddButton();
                })
                userCategoryList.appendChild(addButton);
                addButtonDisplayed = true;
              }
            };

            const createCategoryInput = () => {
              const input = document.createElement("input");
              input.type = "text";
              input.className = "form-control form-control-sm";
              input.maxLength = 20;
              return input;
            }

            const createCategoryElement = category => {
              let id = category["id"];
              const li = document.createElement("li");
              li.className = "list-group-item";
              const categoryNameSpan = document.createElement("span");
              categoryNameSpan.textContent = category["name"];
              categoryNameSpan.classList.add("float-start");

              const inputDiv = document.createElement("div");
              inputDiv.classList.add("float-start");
              const input = createCategoryInput();
              inputDiv.appendChild(input);

              const buttonSpan = document.createElement("div");
              buttonSpan.classList.add("float-end");
              const editButton = createFontAwesomeButton("btn btn-sm btn-primary me-1", "far fa-edit");
              editButton.setAttribute("data-edit", "true");
              const tickButton = createFontAwesomeButton("btn btn-sm btn-success me-1", "far fa-check-circle");
              tickButton.setAttribute("disabled", "");
              const deleteButton = createFontAwesomeButton("btn btn-sm btn-danger", "fas fa-trash");

              buttonSpan.appendChild(editButton);
              buttonSpan.appendChild(tickButton);
              buttonSpan.appendChild(deleteButton);
              li.appendChild(categoryNameSpan);
              li.appendChild(buttonSpan);

              editButton.addEventListener("click", () => {
                const btnStatus = editButton.dataset["edit"];
                if (btnStatus === "true") {
                  editButton.setAttribute("data-edit", "false");
                  editButton.classList.replace("btn-primary", "btn-dark");
                  editButton.firstChild.remove();
                  editButton.appendChild(createFontAwesomeIcon("fas fa-times"));
                  input.value = categoryNameSpan.textContent
                  categoryNameSpan.replaceWith(inputDiv);
                  deleteButton.setAttribute("disabled", "");
                } else {
                  editButton.setAttribute("data-edit", "true");
                  editButton.classList.replace("btn-dark", "btn-primary");
                  editButton.firstChild.remove();
                  editButton.appendChild(createFontAwesomeIcon("far fa-edit"));
                  input.value = "";
                  inputDiv.replaceWith(categoryNameSpan);
                  tickButton.setAttribute("disabled", "");
                  deleteButton.removeAttribute("disabled");
                }
              })

              input.addEventListener("keyup", () => {
                if (input.value === categoryNameSpan.textContent || input.value === "") {
                  if (!tickButton.hasAttribute("disabled")) {
                    tickButton.setAttribute("disabled", "")
                  }
                } else {
                  if (tickButton.hasAttribute("disabled")) {
                    tickButton.removeAttribute("disabled");
                  }
                }
              })

              tickButton.addEventListener("click", () => {
                const updatedName = input.value;
                fetch(`${baseCategoryAPI}/${id}/`, {
                  method: "PUT",
                  credentials: "same-origin",
                  headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": getCookie("csrftoken"),
                  },
                  body: JSON.stringify({"name": updatedName})
                })
                  .then(res => res.json())
                  .then(json => {
                    categoryNameSpan.textContent = json["name"];
                    if (!tickButton.hasAttribute("disabled")) {
                      tickButton.setAttribute("disabled", "")
                    }
                    inputDiv.replaceWith(categoryNameSpan);
                    editButton.setAttribute("data-edit", "true");
                    editButton.classList.replace("btn-dark", "btn-primary");
                    editButton.firstChild.remove();
                    editButton.appendChild(createFontAwesomeIcon("far fa-edit"))
                    deleteButton.removeAttribute("disabled");

                    refreshPageOnHide();
                  });
              });

              deleteButton.addEventListener("click", () => {
                deleteButton.setAttribute("disabled", "")
                fetch(`${baseCategoryAPI}/${id}/`, {
                  method: "DELETE",
                  credentials: "same-origin",
                  headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": getCookie("csrftoken"),
                  },
                }).then(res => {
                  if (res.ok) {
                    categoryNameSpan.innerHTML = `<del>${categoryNameSpan.textContent}</del>`
                    setTimeout(() => {
                      li.remove();
                      createAddButton();
                    }, 500);
                    refreshPageOnHide();
                  }
                })
              })

              return li;
            };

            json.forEach(category => {
              userCategoryList.appendChild(createCategoryElement(category));

            })

            if (userCategoryList.getElementsByTagName("li").length < 5) {
              createAddButton();
            }
          });
      })();

      // Attachment handler
      (() => {
        const imageField = document.getElementById("{{ form.attachment.auto_id }}");
        imageField.addEventListener("change", function() {
          if (this.files) {
            if (this.files[0].size >= MAX_ATTACHMENT_SIZE) {
              alert("Attachment should be less than " + MAX_ATTACHMENT_VERBOSE);
              this.value = "";
            }
          }
        })
      })();
    }
  </script>
{% endblock script %}
