{% extends "base.html" %}

{% block title %}Add Expense{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-12 col-lg-6">
      <h3 class="h3">Add expense</h3>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-5">
            <div class="mb-2">
              {% with amount=form.amount %}
                <label for="{{ amount.auto_id }}" class="form-label fw-bold">
                  {{ amount.label }}&nbsp;&ast;
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fas fa-rupee-sign"></i>
                  </div>
                  <input
                      type="number"
                      step=".01"
                      class="form-control form-control-sm"
                      id="{{ amount.auto_id }}"
                      name="{{ amount.html_name }}"
                      value="{{ amount.value }}"
                      required
                      placeholder="Enter your amount"
                  >
                </div>
              {% endwith %}
            </div>
          </div>

          <div class="col-7">
            <div class="mb-2">
              {% with date=form.date %}
                <label for="{{ date.auto_id }}" class="form-label fw-bold">
                  {{ date.label }}&nbsp;&ast;
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fas fa-clock"></i>
                  </div>
                  <input
                      type="date"
                      class="form-control form-control-sm"
                      id="{{ date.auto_id }}"
                      name="{{ date.html_name }}"
                      value="{{ date.initial | date:"Y-m-d" }}"
                      required
                      placeholder="Select date"
                  >
                </div>
              {% endwith %}
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              {% with description=form.description %}
                <label for="{{ description.auto_id }}" class="form-label fw-bold">
                  {{ description.label }}&nbsp;&ast;
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="far fa-comment"></i>
                  </div>
                  <textarea
                      class="form-control form-control-sm"
                      id="{{ description.auto_id }}"
                      name="{{ description.html_name }}"
                      rows="2"
                      maxlength="128"
                      required
                      placeholder="Enter your description"
                  >{{ description.value | default_if_none:"" }}</textarea>
                </div>
              {% endwith %}
              </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              <label class="form-label fw-bold">
                {{ form.category.label }}&nbsp;&ast;
              </label><br>
              {% include 'snippets/radio_as_buttons.html' with options=form.category btn_color="btn-outline-primary" id_label="id_category"%}
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              <label class="form-label fw-bold">
                {{ form.method.label }}&nbsp;&ast;
              </label><br>
              {% include 'snippets/radio_as_buttons.html' with options=form.method btn_color="btn-outline-success" id_label="id_method"%}
            </div>
          </div>
          <div class="col-12">
            <div class="mb-2">
              <label class="form-label fw-bold">
                {{ form.app.label }}
              </label><br>
              {% include 'snippets/radio_as_buttons.html' with options=form.app btn_color="btn-outline-secondary" id_label="id_app"%}
            </div>
          </div>
        </div>
        {% for field in form %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
          <div style="color: red">
            <p>{{ form.non_field_errors }}</p>
          </div>
        {% endif %}
        <button class="btn btn-success fw-bold w-100" type="submit">Submit</button>
      </form>
    </div>

    <hr class="d-lg-none my-3" />

    <div class="col-12 col-lg-4">
      <h3 class="h3">Latest 10 expenses</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-borderless table-responsive table-light">
          <thead class="table-light">
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for exp in latest_10 %}
              <tr>
                <td style="font-size: 14px">{{ exp.date | date:"Y-m-d" }}</td>
                <td style="font-size: 14px">{{ exp.amount }}</td>
                <td style="font-size: 14px" class="text-break">{{ exp.description|slice:30 }}</td>
              </tr>
            {% empty %}
              <tr>
                <td class="text-center" colspan="3">Nothing to show here</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <hr class="d-lg-none my-3" />

    <div class="col-12 col-lg-2">
      <h3 class="h3">Overview</h3>
      <div class="row">
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="This Month" amount=this_month bg_color="bg-primary bg-gradient" %}
        </div>
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="Last Month" amount=last_month bg_color="bg-success bg-gradient" %}
        </div>
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="Last 3 Months" amount=3_months bg_color="bg-light bg-gradient" %}
        </div>
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="This Year" amount=this_year bg_color="bg-info bg-gradient" %}
        </div>
        <div class="col-6 col-lg-12">
          {% include 'tracker/snippets/overview_cards.html' with header="Last Year" amount=last_year bg_color="bg-warning bg-gradient" %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
