{% extends "base.html" %}

{% block title %}Add Expense{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2 class="h2">Add expense</h2>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-5">
            <div class="mb-2">
              {% with amount=form.amount %}
                <label for="{{ amount.auto_id }}" class="form-label fw-bold">
                  {{ amount.label }}&nbsp;&ast;
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fas fa-rupee-sign"></i>
                  </div>
                  <input
                      type="number"
                      step=".01"
                      class="form-control form-control-sm"
                      id="{{ amount.auto_id }}"
                      name="{{ amount.html_name }}"
                      value="{{ amount.value }}"
                      required
                      placeholder="Enter your amount"
                  >
                </div>
              {% endwith %}
            </div>
          </div>

          <div class="col-7">
            <div class="mb-2">
              {% with date=form.date %}
                <label for="{{ date.auto_id }}" class="form-label fw-bold">
                  {{ date.label }}&nbsp;&ast;
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fas fa-clock"></i>
                  </div>
                  <input
                      type="date"
                      class="form-control form-control-sm"
                      id="{{ date.auto_id }}"
                      name="{{ date.html_name }}"
                      value="{{ date.initial | date:"Y-m-d" }}"
                      required
                      placeholder="Select date"
                  >
                </div>
              {% endwith %}
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              {% with description=form.description %}
                <label for="{{ description.auto_id }}" class="form-label fw-bold">
                  {{ description.label }}&nbsp;&ast;
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="far fa-comment"></i>
                  </div>
                  <textarea
                      class="form-control form-control-sm"
                      id="{{ description.auto_id }}"
                      name="{{ description.html_name }}"
                      rows="2"
                      required
                      placeholder="Enter your description"
                  >{{ description.value | default_if_none:"" }}</textarea>
                </div>
              {% endwith %}
              </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              <label class="form-label fw-bold">
                {{ form.category.label }}&nbsp;&ast;
              </label><br>
              {% include 'snippets/radio_as_buttons.html' with options=form.category btn_color="btn-outline-primary" id_label="id_category"%}
            </div>
          </div>

          <div class="col-12">
            <div class="mb-2">
              <label class="form-label fw-bold">
                {{ form.method.label }}&nbsp;&ast;
              </label><br>
              {% include 'snippets/radio_as_buttons.html' with options=form.method btn_color="btn-outline-success" id_label="id_method"%}
            </div>
          </div>
          <div class="col-12">
            <div class="mb-2">
              <label class="form-label fw-bold">
                {{ form.app.label }}
              </label><br>
              {% include 'snippets/radio_as_buttons.html' with options=form.app btn_color="btn-outline-secondary" id_label="id_app"%}
            </div>
          </div>
        </div>
        {% for field in form %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
          <div style="color: red">
            <p>{{ form.non_field_errors }}</p>
          </div>
        {% endif %}
        <button class="btn btn-dark fw-bold w-100" type="submit">Submit</button>
      </form>
    </div>

    <hr class="d-md-none my-3" />

    <div class="col-sm-12 col-md-4">
      <h2 class="h2">Previous 10 expenses</h2>
    </div>

    <hr class="d-md-none my-3" />

    <div class="col-sm-12 col-md-2">
      <h2 class="h2">Overview</h2>
    </div>
  </div>
{% endblock content %}
