{% extends "base.html" %}

{% block title %}Login{% endblock title %}
{% block content %}
  <div class="row" style="margin-top: 130px;">
    <div class="col-sm-12 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-header fw-bolder">
          Login
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <form>
              <div class="mb-3">
                <label for="id_username" class="form-label">
                  {{ form.username.label }}
                </label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fas fa-user"></i>
                  </div>
                  <input
                      type="text"
                      class="form-control"
                      id="id_username"
                      name="{{ form.username.html_name }}"
                      aria-describedby="usernameHelp"
                      required
                      placeholder="Enter your username"
                  >
                </div>
              </div>
              <div class="mb-3">
                <label for="id_password"
                       class="form-label">{{ form.password.label }}</label>
                <div class="input-group">
                  <div class="input-group-text">
                    <i class="fas fa-key"></i>
                  </div>
                  <input
                      type="password"
                      class="form-control"
                      id="id_password"
                      name="{{ form.password.html_name }}"
                      aria-describedby="passwordHelp"
                      required
                      placeholder="Enter your password"
                  >
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100">Submit
              </button>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
