{% extends "base.html" %}

{% block title %}Register{% endblock title %}
{% block content %}
  <div class="row" style="margin-top: 110px;">
    <div class="col-sm-12 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-header fw-bolder">
          Register
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="id_username" class="form-label">
                {{ form.username.label }}
              </label>
              <div class="input-group">
                <div class="input-group-text">
                  <i class="fas fa-user"></i>
                </div>
                <input
                    type="text"
                    class="form-control"
                    id="id_username"
                    name="{{ form.username.html_name }}"
                    required
                    placeholder="Enter your username"
                >
              </div>
            </div>

            <div class="mb-3">
              <label for="id_email" class="form-label">
                {{ form.email.label }}
              </label>
              <div class="input-group">
                <div class="input-group-text">
                  <i class="fas fa-at"></i>
                </div>
                <input
                    type="email"
                    class="form-control"
                    id="id_email"
                    name="{{ form.email.html_name }}"
                    required
                    placeholder="Enter your email"
                >
              </div>
            </div>

            <div class="mb-3">
              <label for="id_password"
                     class="form-label">{{ form.password.label }}</label>
              <div class="input-group">
                <div class="input-group-text">
                  <i class="fas fa-key"></i>
                </div>
                <input
                    type="password"
                    class="form-control"
                    id="id_password"
                    name="{{ form.password.html_name }}"
                    required
                    placeholder="Enter your password"
                >
              </div>
            </div>

            {% for field in form %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            {% endfor %}
            {% if form.non_field_errors %}
              <div style="color: red">
                <p>{{ form.non_field_errors }}</p>
              </div>
            {% endif %}
            <button type="submit" class="btn btn-primary w-100">Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
