<script>
  $(document).ready(function () {
    const today = new Date()
    const monthCategoryCanvas = "month_category"
    const monthDayCanvas = "month_day"
    const yearCategoryCanvas = "year_category"
    const yearMonthCanvas = "year_month"
    const dailyInYearCanvas = "daily_expense_in_year"
    const compareLastYearMonthlyCanvas = "compare_last_year_monthly"

    const backgroundColors = [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      "rgba(120,120,190, .74)",
      "rgba(190,248,190, .74)",
      "rgba(229,43,80, .74)",
      "rgba(255,191,0, .74)",
      "rgba(164,198,57, .74)",
      "rgba(251,206,177, .74)",
      "rgba(127,255,212, .74)",
      "rgba(233,214,107, .74)",
      "rgba(178,190,181, .74)",
      "rgba(0,127,255, .74)",
      "rgba(222,93,131, .74)",
      "rgba(195,33,72, .74)",
      "rgba(205,127,50, .74)",
      "rgba(120,134,107, .74)",
      "rgba(15,77,146, .74)",
      "rgba(143,0,255, .74)",
      "rgba(91,146,229, .74)",
      "rgba(0,117,94, .74)",
      "rgba(242,133,0, .74)",
      "rgba(167,252,0, .74)",
      "rgba(236,213,64, .74)",
      "rgba(255,103,0, .74)",
      "rgba(230,226,0, .74)",
      "rgba(147,197,114, .74)",
      "rgba(255,90,54, .74)",
      "rgba(124,252,0, .74)",
      "rgba(215,59,62, .74)",
      "rgba(255,223,0, .74)",
      "rgba(21,96,189, .74)",
      "rgba(105,105,105, .74)",
      "rgba(0,139,139, .74)",
    ]

    const borderColors = [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      "rgb(93,138,168)",
      "rgb(240,248,255)",
      "rgb(229,43,80)",
      "rgb(255,191,0)",
      "rgb(164,198,57)",
      "rgb(251,206,177)",
      "rgb(127,255,212)",
      "rgb(233,214,107)",
      "rgb(178,190,181)",
      "rgb(0,127,255)",
      "rgb(222,93,131)",
      "rgb(195,33,72)",
      "rgb(205,127,50)",
      "rgb(120,134,107)",
      "rgb(15,77,146)",
      "rgb(143,0,255)",
      "rgb(91,146,229)",
      "rgb(0,117,94)",
      "rgb(242,133,0)",
      "rgb(167,252,0)",
      "rgb(236,213,64)",
      "rgb(255,103,0)",
      "rgb(230,226,0)",
      "rgb(147,197,114)",
      "rgb(255,90,54)",
      "rgb(124,252,0)",
      "rgb(215,59,62)",
      "rgb(255,223,0)",
      "rgb(21,96,189)",
      "rgb(105,105,105)",
      "rgb(0,139,139)",
    ]
    const MONTHNAMES = [
      null, 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
      'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
    ]
    const MONTHFULLNAMES = [
      null, "January", "February", "March", "April", "May", "June", "July",
      "August", "September", "October", "November", "December"
    ]

    const DAYSARRAY = [...Array(32).keys()].slice(1)

    const apiKeys = {
      "day": "date__day",
      "month": "date__month",
      "category": "category__name",
      "year": "date__year",
      "total": "total"
    }

    const pieChart = (canvasId, displayLabel, chartLabels, chartData) => {
      const chart = new Chart(document.getElementById(canvasId).getContext('2d'), {
        type: 'pie',
        data: {
          labels: chartLabels,
          datasets: [{
            label: displayLabel,
            data: chartData,
            backgroundColor: backgroundColors,
            borderColor: borderColors,
            borderWidth: 1,
            hoverOffset: 10
          }]
        },
        options: {
          responsive: false,
          plugins: {
            legend: {
              display: true,
              position: "right"
            }
          }
        }
      });
      chart.update()
    }

    const simpleBarChart = (canvasId, displayLabel, chartLabels, chartData) => {
      const chart = new Chart(document.getElementById(canvasId).getContext('2d'), {
        type: 'bar',
        data: {
          labels: chartLabels,
          datasets: [{
            label: displayLabel,
            data: chartData,
            backgroundColor: backgroundColors,
            borderColor: borderColors,
            borderWidth: 1,
            hoverOffset: 10
          }]
        },
        options: {
          responsive: false,
        }
      });
      chart.update()
    }

    const comparisonLineChart = (canvasId, xLabels, displayLabels, chartDatas) => {
      const dataset = []
      displayLabels.forEach((displayLabel, labelIndex) => {
        dataset.push({
          label: displayLabel,
          data: chartDatas[labelIndex],
          backgroundColor: backgroundColors[labelIndex],
          borderColor: borderColors[labelIndex],
          borderWidth: 2,
          tension: .1,
        })
      })
      const chart = new Chart(document.getElementById(canvasId).getContext('2d'), {
        type: 'line',
        data: {
          labels: xLabels,
          datasets: dataset
        },
        options: {
          responsive: false,
        }
      });
      chart.update()
    }

    const getCategoryName = name => name != null ? name : "Other"
    const getMonthName = name => MONTHNAMES[name]

    const readyThisMonthlyChart = apiData => {
      const dayMap = new Map()
      const categoryMap = new Map()

      const dayKey = apiKeys["day"]
      const monthKey = apiKeys["month"]
      const categoryKey = apiKeys["category"]
      const totalKey = apiKeys["total"]

      // Adding 1 because Jan starts from 0 in JS
      const todayMonth = today.getMonth() + 1
      const currentMonthFullName = MONTHFULLNAMES[todayMonth]

      Array.from(document.getElementsByClassName("currentMonthName")).forEach(ele => {
        ele.textContent = currentMonthFullName
      })

      // Ready current month charts
      const currentMonthData = apiData.filter(data => data[monthKey] === todayMonth)

      currentMonthData.forEach(data => {
        const categoryName = getCategoryName(data[categoryKey])
        const dayNumber = data[dayKey]

        if (!categoryMap.has(categoryName)) {
          categoryMap.set(categoryName, null)
        }

        if (!dayMap.has(dayNumber)) {
          dayMap.set(dayNumber, null)
        }
        categoryMap.set(categoryName, categoryMap.get(categoryName) + data[totalKey])
        dayMap.set(dayNumber, dayMap.get(dayNumber) + data[totalKey])
      })

      pieChart(monthCategoryCanvas, `${currentMonthFullName} Category Expense`,
          Array.from(categoryMap.keys()), Array.from(categoryMap.values()))
      simpleBarChart(monthDayCanvas, `${currentMonthFullName} Daily Expense`,
          Array.from(dayMap.keys()), Array.from(dayMap.values()))
    }

    const readyThisYearChart = apiData => {
      const monthMap = new Map()
      const categoryMap = new Map()

      const monthKey = apiKeys["month"]
      const categoryKey = apiKeys["category"]
      const totalKey = apiKeys["total"]

      Array.from(document.getElementsByClassName("currentYear")).forEach(ele => {
        ele.textContent = today.getFullYear().toString()
      })

      apiData.forEach(data => {
        const monthName = getMonthName(data[monthKey])
        const categoryName = getCategoryName(data[categoryKey])

        if (!categoryMap.has(categoryName)) {
          categoryMap.set(categoryName, null)
        }

        if (!monthMap.has(monthName)) {
          monthMap.set(monthName, null)
        }

        categoryMap.set(categoryName, categoryMap.get(categoryName) + data[totalKey])
        monthMap.set(monthName, monthMap.get(monthName) + data[totalKey])
      })
      pieChart(yearCategoryCanvas, "Category Expense in " + today.getFullYear(),
          Array.from(categoryMap.keys()), Array.from(categoryMap.values()))
      pieChart(yearMonthCanvas, "Monthly Expense in " + today.getFullYear(),
          Array.from(monthMap.keys()), Array.from(monthMap.values()))
    }

    const dailyExpenseYearlyChart = (thisYearData) => {

      // {name: {Jan: Array(31)}}
      const monthMap = new Map()

      MONTHNAMES.slice(1).forEach(name => {
        monthMap.set(name, new Array(31))
      })

      const monthKey = apiKeys["month"]
      const dayKey = apiKeys["day"]
      const totalKey = apiKeys["total"]

      thisYearData.forEach(data => {
        const monthName = getMonthName(data[monthKey])
        const monthData = monthMap.get(monthName)
        const dayDataOfMonthInMap = monthData[data[dayKey]-1]
        monthData[data[dayKey]-1] = dayDataOfMonthInMap !== undefined ? dayDataOfMonthInMap + data[totalKey] : data[totalKey]
      })

      comparisonLineChart(dailyInYearCanvas, DAYSARRAY, [...monthMap.keys()], [...monthMap.values()])
    }

    fetch("http://localhost:8000/expense/api/analysis/")
        .then(resp => resp.json())
        .then(resp => {
          const thisYearData = resp["month_day_category"]
          const lastYearsData = resp["year_month_category"]
          // Month Category
          // Month Day
          readyThisMonthlyChart(thisYearData);
          // Year Category
          // Year Month
          readyThisYearChart(thisYearData);
          // Previous Year Category
          // Previous Year Month
          dailyExpenseYearlyChart(thisYearData)
          {#chart_today.data.labels = chartData.labels#}
          {#chart_today.data.datasets[0].label = "Day"#}
          {#chart_today.data.datasets[0].data = chartData.dataset#}
          {#chart_today.update();#}
        });
  })
</script>
